@use '../globals/' as *;
@use '../parts/common' as *;

#container {
  position: relative;
  height: 300vh;
  @include bg(
    $image: "../images/bg-pattern.jpg",
    $size: auto,
    $repeat: repeat
  );
  transition: .5s;
  z-index: 50;
}