html {
    font-size: 13px;
    line-height: 22px;
}

body {
    column-count: 2;
    column-gap: 4rem;
    column-fill: balance;
    column-rule: 1px dotted black;
    /* 検証用背景のアミ */
    /* background-color: rgba(0, 0, 0, 0.05); */
}

/* ========== ページ ========== */
@page {
    size: 794px 1123px;
    /* size: A4; */
    /* 1mm = 3.78px */
    /* 1 column width = 22w = 286px
    286px + 52px + 286px = 624px
    794px - 624px = 170px
    170px / 2 = 85px */
    /* column height = 42L = 924px */
    /* トンボ表示 */
    /* marks: crop; */
}

@page :right {
    margin: 159px 150px 128px 85px;
    @top-right {
        content: "特集1　頑張れ!! 宮本圭子副会長";
        margin: -3mm -65px 76px 0;
        padding: 2rem 1rem 0;
        font-size: 0.85rem;
        border: 2px solid black;
    }
    @top-right-corner {
        content: "";
        margin: -3mm 81px 72px -555px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    @right-top {
        content: "";
        margin: -44px 85px -44px -644px;
        background: url("../img/img_background-right.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
    }
    @bottom-right {
        content: "法曹同志会 2022 |　"counter(page);
        /* margin-right: 2rem; */
        font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
        font-size: 11px;
        vertical-align: bottom;
        padding-bottom: 3rem;
    }
}

@page :left {
    margin: 159px 85px 128px 150px;
    @top-left {
        content: "Feature Articles";
        margin: -3mm 0 76px -65px;
        padding: 2rem 1rem 0;
        font-size: 0.9rem;
        border: 2px solid black;
    }
    @top-left-corner {
        content: "";
        margin: -3mm -563px 72px 89px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    @left-top {
        content: "";
        margin: -44px -644px -44px 85px;
        background: url("../img/img_background-left.jpg");
        z-index: -1;
    }
    @bottom-left {
        content: counter(page) "　| 法曹同志会 2022";
        font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
        font-size: 11px;
        vertical-align: bottom;
        padding-bottom: 3rem;
    }
}

@page tobira {
    @top-left {
        content: none;
    }
    @top-left-corner {
        content: none;
    }
    @bottom-left {
        content: none;
    }
    @top-right {
        content: none;
    }
    @top-right-corner {
        content: none;
    }
    @bottom-right {
        content: none;
    }
}

.tobira {
    page: tobira;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: white;
}

/* ========== インデント ========== */
/* 行頭一文字落とし */
.indentation {
    padding-left: 1rem;
    text-indent: -1rem;
}
/* 行頭一文字落としの後続段落　または　一文字分段落字下げ */
.indentation-following {
    padding-left: 1rem;
    text-indent: 1rem;
}

/* ========== 文字ツメ ========== */
.tume {
    font-feature-settings: "palt" 1;
}

/* ========== Letter Space ========== */
.letter-space-2percent {
    letter-spacing: -0.02rem;
}
.letter-space-5percent {
    letter-spacing: -0.05rem;
}
.letter-space-7percent {
    letter-spacing: -0.07rem;
}
.letter-space-10percent {
    letter-spacing: -0.1rem;
}
.letter-space-2bu {
    letter-spacing: 0.5rem;
}

/* ========== ページの先頭へ ========== */
.back-to-top {
    display: none;
}


/* ========== タイトルスペース ========== */
#fa-1-main-title {
    break-before: page;
    float-reference: page;
    float: top;
    background: white url(../img/img_特集1-タイトルバックの罫.svg) no-repeat;
    background-size: cover;
    border-bottom: white solid 40px;
}
#fa-1-main-title h1 {
    font-size: 4rem;
    line-height: 1.1;
    font-family: SourceHanSerifJP, serif;
    font-weight: 900;
    letter-spacing: 0.75rem
}
#fa-1-main-title span.pre {
    font-size: 26px;
    font-family: SourceHanSansJP-Regular, sans-serif;
    letter-spacing: 0;
    display: block;
    line-height: 1.4;
}
#fa-1-main-title span.suffix {
    font-size: 42px;
    letter-spacing: 0;
}
#fa-1-main-title .catch-copy {
    font-size: 18px;
    margin-top: 12px;
    padding: 5px 13px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg,rgba(0,0,0,0.9), rgba(0,0,0,0.1), transparent);
}

/* ========== 見出し ========== */
h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    line-height: 22px;
    margin: 0;
    font-family: SourceHanSansJP-Regular, sans-serif;
    font-feature-settings: "palt" 1;
    break-after: avoid
}

h1 {
    font-size: 1.7rem;
    line-height: 1.3;
}

.feature-article-persons {
    height: 88px;
    margin-top: 44px;
    clear: all;
}
.feature-article-persons img {
    float: left;
    width: 78px;
    height: 80px;
    margin-right: 1rem;
    object-fit: cover;
}
.feature-article-persons h2 {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 1rem;
}
.feature-article-persons p {
    text-indent: 0rem;
    margin-top: 1rem;
}
.feature-article-persons span {
    font-size: 0.85rem;
    margin-right: 0.5rem;
}
/* clear: both;を付ける意味
.feature-article-persons のスタイルに height: 88px; があるため、このブロックが88pxの高さをもち、その下にそのあとの段落が配置される。その高さ88pxのブロック内にある float: left の img の高さはそれより小さな80pxであるため、 clear がなくてもあとの段落はfloatの影響がないということ。 */
/* .feature-article-persons::after {
    content: "";
    display: block;
    clear: both;
} */

/* ========== 本文 ========== */
p {
    margin: 0;
    font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
    color: black;
    text-align: justify;
    text-indent: 1rem;
}