/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');

@font-face {
    font-family: 'YakuCaltMincho';
    src: url('https://raw.githack.com/monokano/Fonts/main/font/YakuCaltMincho/YakuCaltMincho-R.woff');
    font-weight: 300;
}

@font-face {
    font-family: 'YakuCaltGothic';
    src: url('https://raw.githack.com/monokano/Fonts/main/font/YakuCaltGothic/YakuCaltGothic-R.woff');
    font-weight: 300;
}