html {
  font-size: 3.5mm;
  line-height: 23px;
}

body {
  margin: 0;
  padding: 0;
}

@page {
  size: 210mm 297mm;
  margin: 0;
}

#toc {
  display: none;
}

h1 {
  display: none;
}

img {
  display: block;
  width: 100%;
}