html {
    font-size: 13px;
    line-height: 22px;
}

body {
    column-count: 2;
    column-gap: 2rem;
    column-fill: balance;
    /* 検証用背景のアミ */
    /* background-color: rgba(0, 0, 0, 0.05); */
}

/* ========== ページ ========== */
@page {
    size: 794px 1123px;
    margin: 115px 85px 84px;
    /* size: A4; */
    /* 1mm = 3.78px */
    /* 3mm = 11.5px */
    /* 1 column width = 22w = 286px
    286px + 52px + 286px = 624px
    794px - 624px = 170px
    170px / 2 = 85px */
    /* column height = 42L = 924px */
    /* トンボ表示 */
    /* marks: crop; */
}

@page :right {
    @top-right {
        content: "役員就任・退任のご挨拶";
        margin: -3mm -85px 3rem -85px;
        vertical-align: bottom;
        padding: 0 85px 1rem;
        font-size: 1.4rem;
        font-family: SourceHanSansJP, sans-serif;
        font-weight: bold;
        font-feature-settings: "palt" 1;
        color: white;
    }
    @top-left-corner {
        content: "";
        margin: -3mm -720.5px 3rem 0;
        background: url("../img/img_幹事挨拶-ヘッダーの罫.svg") left bottom no-repeat, rgba(0, 0, 0, 0.5);
        background-size: cover;
    }
    @bottom-right {
        content: "法曹同志会 2022 |　"counter(page);
        /* margin-right: 2rem; */
        font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
        font-size: 11px;
        vertical-align: top;
        padding-top: 2rem;
    }
}

@page :left {
    @top-left-corner {
        content: "";
        margin: -3mm -709px 3rem -3mm;
        background: url("../img/img_幹事挨拶-ヘッダーの罫.svg") left bottom no-repeat, rgba(0, 0, 0, 0.5);
        background-size: cover;
    }
    @bottom-left {
        content: counter(page) "　| 法曹同志会 2022";
        font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
        font-size: 11px;
        vertical-align: top;
        padding-top: 2rem;
    }
}

@page tobira {
    @top-left {
        content: none;
    }
    @top-left-corner {
        content: none;
    }
    @bottom-left {
        content: none;
    }
    @top-right {
        content: none;
    }
    @top-right-corner {
        content: none;
    }
    @bottom-right {
        content: none;
    }
}

.tobira {
    page: tobira;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: white;
}

/* ========== インデント ========== */
/* 行頭一文字落とし */
.indentation {
    padding-left: 1rem;
    text-indent: -1rem;
}
/* 行頭一文字落としの後続段落　または　一文字分段落字下げ */
.indentation-following {
    padding-left: 1rem;
    text-indent: 1rem;
}

/* ========== 文字ツメ ========== */
.tume {
    font-feature-settings: "palt" 1;
}

/* ========== Letter Space ========== */
.letter-space-2percent {
    letter-spacing: -0.02rem;
}
.letter-space-5percent {
    letter-spacing: -0.05rem;
}
.letter-space-7percent {
    letter-spacing: -0.07rem;
}
.letter-space-10percent {
    letter-spacing: -0.1rem;
}
.letter-space-2bu {
    letter-spacing: 0.5rem;
}

/* ========== ページの先頭へ ========== */
.back-to-top {
    display: none;
}


/* ========== タイトルスペース ========== */
#secretary-greet-title {
    height: 132px;
    break-before: page;
    float-reference: page;
    float: top;
    background: linear-gradient(to right, transparent 0%, transparent 10%, white 100%) top left no-repeat,
                url(../img/img_幹事挨拶-タイトルバックの球.svg) top left no-repeat;
    background-size: 19%;
}
#secretary-greet-title img {
    float: right;
    width: 117px;
    height: 154px;
    margin-left: 1rem;
    border-radius: 50%;
    position: relative;
    top: -2rem;
}
#secretary-greet-title h1,
#secretary-greet-title h2 {
    margin-left: 5rem;
    line-height: 1.2;
    text-shadow: whitesmoke 1px 0 10px;
}
#secretary-greet-title h1 {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    font-family: SourceHanSansJP-Heavy, sans-serif;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.8);
}
#secretary-greet-title h2 {
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-family: SourceHanSansJP-ExtraLight, sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.8);
}
#secretary-greet-title .secretary,
#secretary-greet-title .author {
    font-size: 0.9rem;
    line-height: 1;
    margin-left: 22rem;
    margin-bottom: 0.75rem;
}
#secretary-greet-title .author::before {
    content: "";
    margin: 1rem;
}
#secretary-greet-title .author {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.25em;
    font-feature-settings: "palt" 1;
}
#secretary-greet-title .generation {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0;
}

/* ========== 見出し ========== */
h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    line-height: 22px;
    margin: 0;
    font-family: SourceHanSansJP-Regular, sans-serif;
    font-feature-settings: "palt" 1;
    break-after: avoid
}

/* ========== 本文 ========== */
p {
    margin: 0;
    font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
    color: black;
    text-align: justify;
    text-indent: 1rem;
}