html {
    font-size: 3.5mm;
    line-height: 23px;
}

body {
    column-count: 3;
    column-gap: 2rem;
    column-fill: balance;
    /* background-color: rgba(0, 0, 0, 0.05); */
}

@page {
    size: 210mm 297mm;
    margin: 45.5mm 19.25mm 25.5mm;
    /* marks: crop; */
}

@page :right {
    @top-right {
        content: url("../img/img_header-right.svg");
        width: 50mm;
        margin: 12mm -10mm 3rem 0;
        z-index: -1;
    }
    @top-center {
        content: "";
        margin-left: 3mm;
        margin-bottom: 5rem;
        border-bottom: 1px solid black;
        width: 213mm;
        z-index: -1;
    }
    @bottom-center {
        content: url("../../../../assets/img/img_nombre-right.svg");
        width: 50mm;
        margin-right: -92mm;
    }
    @bottom-right {
        content: counter(page);
        font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
        font-size: 0.85em;
        margin-right: 3rem;
    }
}

@page :left {
    @top-left {
        content: url("../img/img_header-left.svg");
        width: 71mm;
        margin: 0 0 -1.25rem -21.25mm;
        z-index: 1;
    }
    @top-center {
        content: "";
        margin-right: 3mm;
        margin-bottom: 5rem;
        border-bottom: 1px solid black ;
        width: 213mm;
        z-index: -1;
    }
    @bottom-center {
        content: url("../../../../assets/img/img_nombre-left.svg");
        width: 50mm;
        margin-left: -90mm;
    }
    @bottom-left {
        content: counter(page);
        font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
        font-size: 0.85em;
        margin-left: 3rem;
        
    }
}

/* タイトルバック用のスペースを確保してイメージを配置する。 */
/* 高さの指定に意味はあるのか？ */
.title-back {
    float: left;
    float-reference: column;
    column-span: all;
    page-break-before: always;
    width: 171.5mm;
    height: 480px;
    margin-bottom: 2rem;
}

img.main {
    position: absolute;
    top: -47.5mm;
    left: -19.25mm;
    width: 213mm;
}

img.top-title {
    position: absolute;
    top: -47.5mm;
    left: 0mm;
    width: 50mm;
}

hr.clearfix {
    clear: both;
    border: none;
    padding: 1px;
    margin: -1px;
    overflow: auto;
}

.first-image {
    float: left;
    float-reference: column;
    column-span: all;
    width: 171.5mm;
    height: 434px;
    margin-bottom: 2rem;
}
img.first {
    position: absolute;
    width: 171.5mm;
    top: -18mm;
}

.second-image {
    float: left;
    float-reference: column;
    column-span: all;
    width: 171.5mm;
    height: 414px;
    margin-bottom: 2rem;
}
img.second {
    position: absolute;
    width: 171.5mm;
    height: 414px;
    background-size: contain;
    /* transform: translate(0%, 0%); */
}

/* ========== 改段・改ページ ========== */
.kai-dan {
    break-before: column
}

/* ========== インデント ========== */
/* 行頭一文字落とし */
.indentation {
    padding-left: 1rem;
    text-indent: -1rem;
}
/* 行頭一文字落としの後続段落　または　一文字分段落字下げ */
.indentation-following {
    padding-left: 1rem;
    text-indent: 1rem;
}

/* ========== 文字ツメ ========== */
.tume {
    font-feature-settings: "palt";
}

/* ========== Letter Space ========== */
.letter-spce-2percent {
    letter-spacing: -0.02rem;
}
.letter-spce-5percent {
    letter-spacing: -0.05rem;
}
.letter-spce-7percent {
    letter-spacing: -0.07rem;
}
.letter-spce-10percent {
    letter-spacing: -0.1rem;
}
.letter-spce-2bu {
    letter-spacing: 0.5rem;
}

/* ========== ページの先頭へ ========== */
.back-to-top {
    display: none;
}

/* ========== 見出し ========== */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: YuMincho Demibold, Yu Mincho Demibold, serif;
    font-feature-settings: "palt";
    line-height: 1.5;
    break-after: auto;
}

h2 {
    font-size: 1.5rem;
    padding: 11.5px 0 11.5px 1rem;
    line-height: 1.2;
}

p {
    margin: 0;
    font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
    color: black;
    text-align: justify;
    text-indent: 1rem;
}

p.question {
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 3em;
    text-indent: -1em;
    line-height: 23px;
    break-after: auto;
}
p.question::before {
    content: "―";
    display: inline-block;
    transform: scale(2, 1);
    margin-right: 1em;
}

a {
    text-decoration: none;
    color: black;
}